# Summary
## Index
(1) Create an index   
(2) Check the membership of a labe in an index

In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [2]:
obj = pd.Series(range(3), index=['a','b','c'])
obj

a    0
b    1
c    2
dtype: int64

In [3]:
obj.index

Index(['a', 'b', 'c'], dtype='object')

In [4]:
obj.index[:-1]

Index(['a', 'b'], dtype='object')

In [6]:
index = obj.index
# index[1] = 'd' # This is wrong. Index is immutable.

In [7]:
# Create index separately and use assign it to a series.
labels = pd.Index(np.arange(3))
labels

Int64Index([0, 1, 2], dtype='int64')

In [8]:
obj2 = pd.Series([1.5, -2.5, 0], index=labels)
obj2

0    1.5
1   -2.5
2    0.0
dtype: float64

In [9]:
# Check whether an index is among the indices of the columns or rows
# Create a data frame from a nested dict
pop = {
    'Nevada':{2001:2.4, 2002:2.9},
    'Ohio':{2000:1.5, 2001:1.7, 2002:3.6}
}
frame3 = DataFrame(pop, index=[2000,2001,2002]) # Manually specify the index, otherwise 2000 would be after 2001 and 2002.
frame3

      Nevada  Ohio
2000     NaN   1.5
2001     2.4   1.7
2002     2.9   3.6

In [10]:
'Ohio' in frame3.columns

True

In [13]:
2000 in frame3.index

True