When indexing with a duplicated index, all entries/rows of that index are returned.

In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [4]:
# Create a series with duplicated labels
obj = pd.Series(range(5), index=['a', 'a', 'b', 'b', 'c'])
obj

a    0
a    1
b    2
b    3
c    4
dtype: int64

In [10]:
# Check the uniqueness of index
obj.index.is_unique

False

In [13]:
# Indexing
# For a duplicated index, the return is a series
obj['a']

a    0
a    1
dtype: int64

In [15]:
# For a unique label, the return is a number
obj['c']

4

In [16]:
# Create a dataframe with duplicated index
df = pd.DataFrame(np.random.randn(4, 3), index=['a', 'a', 'b', 'b'])
df

          0         1         2
a -0.952350 -0.114294 -1.195113
a -2.837027  0.469439  0.705415
b -1.281698  0.308009 -0.894080
b -0.413399  1.193108  0.748784

In [17]:
df.loc['b']

          0         1         2
b -1.281698  0.308009 -0.894080
b -0.413399  1.193108  0.748784