# Summary
Reindexing means to create a new series or dataframe based on existing ones, by specifying which rows and columns are needed.

In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [18]:
# Create a series with index
obj = pd.Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])
obj

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64

In [19]:
# Create another series by reindexing
obj2 = obj.reindex(['a', 'b', 'c', 'd', 'e'])
obj2

a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64

In [23]:
obj2['a'] = 12345
print(obj)
print(obj2)
# Note that reindexing create a new series.

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64
a    12345.0
b        7.2
c        3.6
d        4.5
e        NaN
dtype: float64

In [5]:
# Filling values for missing entries
obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
obj3

0      blue
2    purple
4    yellow
dtype: object

In [6]:
obj3.reindex(range(6))

0      blue
1       NaN
2    purple
3       NaN
4    yellow
5       NaN
dtype: object

In [7]:
obj3.reindex(range(6), method='ffill')

0      blue
1      blue
2    purple
3    purple
4    yellow
5    yellow
dtype: object

In [9]:
# Reindex according to rows
frame = pd.DataFrame(np.arange(9).reshape((3, 3)), index=['a', 'c', 'd'], columns=['Ohio', 'Texas', 'California'])
frame

   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8

In [10]:
frame2 = frame.reindex(['a', 'b', 'c', 'd']) # Note that by default, reindexing is wrt rows.
frame2

   Ohio  Texas  California
a   0.0    1.0         2.0
b   NaN    NaN         NaN
c   3.0    4.0         5.0
d   6.0    7.0         8.0

In [12]:
# To reindex wrt columns, we must provide the key word
states = ['Texas', 'Utah', 'California']
frame3 = frame.reindex(columns=states)
frame3

   Texas  Utah  California
a      1   NaN           2
c      4   NaN           5
d      7   NaN           8

In [17]:
# Reindexing with loc
# But this only works with existing index and column labels
frame.loc[['a', 'c'], ['Texas', 'California']]

   Texas  California
a      1           2
c      4           5

In [16]:
# To reindex with nonexisting labels, use reindex
frame.reindex(index=['a', 'b', 'c', 'd'], columns=['Texas', 'Utah', 'California'])

   Texas  Utah  California
a    1.0   NaN         2.0
b    NaN   NaN         NaN
c    4.0   NaN         5.0
d    7.0   NaN         8.0